body {
    margin: 0;
}

.user-name {
    font-weight: bold;
}

.navbar {
    background-color: #000;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

/*css hover navbar*/
.navbar a:hover {
    background-color: #a3a3a3;
    color: #000;
}

.navbar a.active {
    background-color: #a3a3a3;
    color: #000;
}

.brand {
    width: 40%;
}

.content-img {
    padding: 50px;
    text-align: center;
}

.content {
    padding: 50px;
    background-color: #1ea1ff;
    color: #fff;
}

.col-6 {
    background-color: #a3a3a3;
    border: 1px solid #fff;
    display: inline-block;
}

.form-regist {
    margin: 30px;
    text-align: center;
}

.frame-video {
    text-align: center;
}

th {
    border: 1px solid #000;
    text-align: center;
    padding: 40px;
    font-weight: 100;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}